body {
    font-family: Arial, sans-serif;
    background-image: url("https://cdn.pixabay.com/photo/2023/02/01/21/40/pink-7761356_960_720.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    padding: 60px 24px 60px 24px;
    width: auto;
    max-width: 600px;
}

fieldset {
    border: none;
    margin-bottom: 20px;
    padding: 32px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

legend {
    visibility: hidden;
}

label {
    display: block;
    margin: 3px 0;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 16px;
}

h2{
    text-align: left;
    color: rgba(139, 0, 83, 0.863);

}

footer ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 0;
}

footer li{
    list-style: none;
    padding: 16px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 24px;
    min-height: 24px;
}

@media (max-width: 480px) {
    footer ul {
        gap: 8px;
    }

    footer li {
        padding: 12px;
        min-width: 20px;
        min-height: 20px;
        font-size: 14px;
    }
}